@import url(https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;700&display=swap);
//reset CSS
body {
  margin: 0;
  font-family: 'Noto Sans TC', sans-serif;
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
html,
body {
  width: 100%;
  height: 100%;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  line-height: 0.9;
  font-weight: normal;
}
p {
  margin: 0;
}
ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
button {
  border: none;
  &:focus {
    outline: transparent;
  }
}

//變數
$login-bg-img: url('https://cdn.pixabay.com/photo/2015/04/08/23/38/volleyball-713649_1280.jpg');
/////來源: https://pixabay.com/photos/volleyball-game-beach-sunset-713649/
$logo-green: #8fbc8f;
$light-logo-green: #ebf3eb;
$font-green: #6fa96f;
$dark-green: #426f42;
$dark-gray: #3e4543;
$gray: #d3d3d3;
$font-gray: #e0e0e0;
$light-gray: #f5f5f5;
$white: #fff;
$black: #1c1c1c;
$op-black: rgba(0, 0, 0, 0.9);
$op-white: rgba(255, 255, 255, 0.9);
$yellow: #fffdd0;
$dark-yellow: #fef263;
$star-yellow: #fef263;
$red: #f08080;

//共用css
.container {
  width: 80%;
  margin: 0 auto;
}
.scroll-style {
  &::-webkit-scrollbar {
    border-radius: 20px;
    width: 10px;
    background-color: $light-logo-green;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: $logo-green;
  }
}

.input-style {
  padding: 4px 7px;
  font-size: 1.1rem;
  border: 1px solid $dark-gray;
  border-radius: 5px;
}
.button-style {
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
}

@keyframes swing {
  15% {
    transform: translateX(1px);
  }

  65% {
    transform: translateX(-1px);
  }

  100% {
    transform: translateX(0px);
  }
}
